{% extends 'base.html' %}

{% block title %}SF Ambulance Dispatch{% endblock %}

{% block content %}

    <!-- Static navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

      <a class="navbar-brand" href="#">SF Ambulance Dispatch</a>
      <button class="navbar-toggler" type="button" data-toggle="navbar-nav" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="#">Statistics</a>
          <a class="nav-item nav-link" href="#">Maps</a>
        </div>
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link active" href="#">Home</a>
          <a class="nav-item nav-link" href="#">About</a>
        </div>
      </div>

    </nav>

<br><br>

  <!-- Search form -->
  <div class="container-fluid">
    <div class="row align-items-center">
      <section class="col-12 mx-auto" id="search">
        <form class="form-inline" action="/make-prediction">
          <i class="fas fa-search" aria-hidden="true"></i>

          <!-- STREET ADDRESS -->
          <input class="form-control form-control-sm ml-3 w-50 active-cyan-3 active-cyan-4"
            type="text" placeholder="Street Address" name="incident-address"
            id="incident-address" aria-label="Address">

          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

          <!-- INCIDENT PRIORITY-->
          <!-- List order matches the code frequency between 2001 and 2019,
          with the most common priority codes at the top. -->
          <label for="incident-priority">Priority:</label> &nbsp;&nbsp;&nbsp;
          <select name="priority" id="incident-priority">
            <option value="priority-3" selected>3</option>
            <option value="priority-2">2</option>
            <option value="priority-e">E</option>
          </select>

          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

          <!-- UNIT TYPE: Private or Fire Department Ambulance-->
          <label for="unit-type">Unit Type:</label> &nbsp;&nbsp;&nbsp;
          <select name="unit-type" id="unit-type">
            <option value="medic" selected>Fire Department</option>
            <option value="private">Private</option>
          </select>

          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

          <!-- Clicking this button submits an AJAX request to calculate
          and display the estimated arrival time for an ambulance. -->
          <button class="btn btn-info" id="get-estimate">Predict</button>


          <!-- Container in which the estimated arrival time for an ambulance
          is shown. -->
          <div class="container-fluid">
            <div class="row align-items-center">
              <section class="col-4 mx-auto" id="estimated-wait-time">
                <p class="display-prediction"></p>
              </section>
            </div>
          </div>

        </form>
      </section>
    </div>
  </div>

  <!-- AJAX request to display the estimated arrival time on the homepage. -->
  <script src="/static/js/wait-time.js"></script>

{% endblock %}
