{% extends 'base.html' %}

{% block title %}SF Ambulance Dispatch ::: Statistics{% endblock %}

{% block content %}

    <!-- Search form -->
    <div class="container-fluid">
      <div class="row align-items-center">
        <section class="col-12 mx-auto" id="search">
          <form class="form-inline">
            <i class="fas fa-search" aria-hidden="true"></i>

            <!-- STREET ADDRESS -->
            <input class="form-control form-control-sm ml-3 w-50 active-cyan-3 active-cyan-4"
              type="text" placeholder="Street Address" name="incident-address"
              id="incident-address" aria-label="Address">

            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

            <!-- Clicking this button submits an AJAX request to calculate
            and display the estimated arrival time for an ambulance. -->
            <button class="btn btn-info" id="get-estimate">Show Statistics</button>


{% endblock %}
